import {Button} from 'react-bootstrap';

export function App(): JSX.Element {
    return <h1>Luke's App</h1>;

    
        <h1>Hello World</h1>
        <img src="../assets/images/pet-ada.jpg" alt="A picture of Dr. Bart's dog Ada" />
    

    
        Unordered List:
        <ul>
            <li>First thing</li>
            <li>Another thing</li>
            <li>A third item</li>
        </ul>
        Ordered List:
        <ol>
            <li>First thing</li>
            <li>Another thing</li>
            <li>A third item</li>
        </ol>
       

    
        <Button onClick={ () => { console.log("Hello World!") } }>Hello World</Button>
    

    
        <Container>
            <Row>
                <Col>First column.
                width: 50%;
                height: 50%;
                background-color: red;
                </Col>
                <Col>
                    Second column.
                    You can put whatever you want in here, and it will be on the right side.
                    Maybe try adding an image?
                </Col>
            </Row>
        </Container>
    
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: orange;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
